<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>学工网后台管理系统</title>
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css" />
<link rel="stylesheet" href="__PUBLIC__/css/css.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery1.9.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/sdmenu.js"></script>
</head>

<body>
            
<div id="middle">
     <div class="left">
         <script type="text/javascript">
var myMenu;
window.onload = function() {
    myMenu = new SDMenu("my_menu");
    myMenu.init();
};
</script>

<div id="my_menu" class="sdmenu">
    <div >
        <span>菜单列表</span>
        <a href="{:U('category/index')}" target="main">分类管理</a>
        <a href="{:U('goods/index')}" target="main">商品管理</a>
        <a  target="main" target="main">订单管理</a>
    </div>
</div>
     </div>
     <div class="Switch"></div>
    </div>
<script>
    $('.sdmenu div a').click(function(){
        $('.sdmenu div a').removeClass('current');
        $(this).addClass('current');
    });
</script>
</body>
</html>
