<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minmum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/layui/css/modules/layer/default/layer.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container title">
        <i></i>
        <span class="order_span">订单详情</span>
        <i></i>
    </div>
</nav>
<div class="container orderDetail">
    <div class="order_status">
        <div class="status_top">
            <i></i>
            <b>支付成功！</b>
            <span>等待商家接单...</span>
        </div>
        <div class="status_bottom">
            <a href="javascript:;" class="contact_shop">联系商家</a>
            <a href="javascript:;" class="again_orderDetail">再来一单</a>
        </div>
    </div>
    <div class="order_step">
        <div class="step_img">
            <img src="../img/order_step1.png">
        </div>
        <div class="step_content">
            <span class="content1">下单成功</span>
            <span class="content2">已接单</span>
            <span class="content3">确认收货</span>
        </div>
        <div class="step_time">
            <span class="time1">12:05</span>
            <span class="time2">12:05</span>
            <span class="time3">12:05</span>
        </div>
    </div>
    <div class="order_detail">
        <div class="contact_nameWrap">
            <span>订单详情</span>
        </div>
        <div class="shop_content">
            <ul>
                <li>
                    <span class="v_name">胡萝卜</span>
                    <span class="v_num">x 1</span>
                    <span class="v_price">￥12.00</span>
                </li>
                <li>
                    <span class="v_name">大葱</span>
                    <span class="v_num">x 6</span>
                    <span class="v_price">￥12.00</span>
                </li>
                <li>
                    <span class="v_name">苏太猪肉</span>
                    <span class="v_num">x 5</span>
                    <span class="v_price">￥10.00</span>
                </li>
                <li>
                    <span class="v_name">胡萝卜</span>
                    <span class="v_num">x 1</span>
                    <span class="v_price">￥12.00</span>
                </li>
                <li>
                    <span class="v_name">大葱</span>
                    <span class="v_num">x 6</span>
                    <span class="v_price">￥12.00</span>
                </li>
                <li>
                    <span class="v_name">苏太猪肉</span>
                    <span class="v_num">x 5</span>
                    <span class="v_price">￥10.00</span>
                </li>
            </ul>
        </div>
        <div class="fee">
            <span class="v_name fee_span">配送费</span>
            <span class="v_num"></span>
            <span class="v_price">￥<i>10.00</i></span>
        </div>
        <div class="total">
            <span class="v_name">总计</span>
            <span class="v_num"></span>
            <span class="v_price fee_span">￥<i>135.00</i></span>
        </div>
    </div>
    <div class="order_info">
        <div class="contact_nameWrap">
            <span>订单信息</span>
        </div>
        <div class="order_info_list">
            <ul>
                <li>
                    <span class="list_left">订单编号</span>
                    <span class="list_right">1234567899522</span>
                </li>
                <li>
                    <span class="list_left">订单时间</span>
                    <span class="list_right">2017-3-23</span>
                </li>
                <li>
                    <span class="list_left">商品数量</span>
                    <span class="list_right">10</span>
                </li>
                <li>
                    <span class="list_left">配送地址</span>
                    <span class="list_right">苏州市锦溪苑一单元20205室</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="order_remark">
        <div class="contact_nameWrap">
            <span>订单备注</span>
        </div>
        <p>逻辑是分开的数据反馈圣诞节</p>
    </div>
</div>
</body>
</html>
<script src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/layui/lay/modules/layer.js"></script>