<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minmum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/layui/css/modules/layer/default/layer.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container title">
        <i></i>
        <span class="order_span">全部订单</span>
        <i></i>
    </div>
</nav>
<div id="order_container" class="container">
    <!--<div class="contact_nameWrap">-->
        <!--<span>今日</span>-->
    <!--</div>-->
    <!--<div class="orderList">-->
        <!--<div class="orderList_left">-->
            <!--<h5><span class="name">李先生&nbsp;&nbsp;</span><span class="phone">15888556699</span></h5>-->
            <!--<p>下单时间：<span>2017-3-19 15:00</span></p>-->
            <!--<p>购买数量：<span>6</span></p>-->
            <!--<p>消费金额：<span>23.50</span></p>-->
        <!--</div>-->
        <!--<div class="orderList_right">-->
            <!--<p>待商户接单</p>-->
            <!--<a class="suggestion" href="javascript:;">意见反馈</a>-->
            <!--<a class="order cancel_order" href="javascript:;">取消订单</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="contact_nameWrap">-->
        <!--<span>昨日</span>-->
    <!--</div>-->
    <!--<div class="orderList">-->
        <!--<div class="orderList_left">-->
            <!--<h5><span class="name">李先生&nbsp;&nbsp;</span><span class="phone">15888556699</span></h5>-->
            <!--<p>下单时间：<span>2017-3-19 15:00</span></p>-->
            <!--<p>购买数量：<span>6</span></p>-->
            <!--<p>消费金额：<span>23.50</span></p>-->
        <!--</div>-->
        <!--<div class="orderList_right">-->
            <!--<p>待配送</p>-->
            <!--<a class="suggestion hide" href="javascript:;">意见反馈</a>-->
            <!--<a class="order again_order" href="javascript:;">再来一单</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="orderList">-->
        <!--<div class="orderList_left">-->
            <!--<h5><span class="name">李先生&nbsp;&nbsp;</span><span class="phone">15888556699</span></h5>-->
            <!--<p>下单时间：<span>2017-3-19 15:00</span></p>-->
            <!--<p>购买数量：<span>6</span></p>-->
            <!--<p>消费金额：<span>23.50</span></p>-->
        <!--</div>-->
        <!--<div class="orderList_right">-->
            <!--<p>已取消</p>-->
            <!--<a class="suggestion hide" href="javascript:;">意见反馈</a>-->
            <!--<a class="order again_order" href="javascript:;">再来一单</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="orderList">-->
        <!--<div class="orderList_left">-->
            <!--<h5><span class="name">李先生&nbsp;&nbsp;</span><span class="phone">15888556699</span></h5>-->
            <!--<p>下单时间：<span>2017-3-19 15:00</span></p>-->
            <!--<p>购买数量：<span>6</span></p>-->
            <!--<p>消费金额：<span>23.50</span></p>-->
        <!--</div>-->
        <!--<div class="orderList_right">-->
            <!--<p>已完成</p>-->
            <!--<a class="suggestion hide" href="javascript:;">意见反馈</a>-->
            <!--<a class="order again_order" href="javascript:;">再来一单</a>-->
        <!--</div>-->
    <!--</div>-->
</div>


</body>
</html>
<script src="../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/layui/lay/modules/layer.js" ></script>
<script src="../js/orderList.js"></script>