<html>
<head>
<taglib name="html" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>良品菜市后台管理系统</title>
</head>
<frameset rows="60,*" frameborder="no" border="0" framespacing="0">
  <frame src="{:U('top')}" name="top" scrolling="no" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset cols="230,*" frameborder="no" border="0" framespacing="0">
    <frame src="{:U('left')}" name="left" scrolling="no" noresize="noresize" id="leftFrame" title="leftFrame" />
    <frame src="{:U('main')}" name="main" id="mainFrame" title="mainFrame" />
  </frameset>
</frameset>
<noframes>
  
</noframes>
</html>
