<!doctype html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="__PUBLIC__/css/style.css" type="text/css"/>
	</head>
	<body>
		<div id="header">
			<div class="w">
				<ul class="fr">
					<li><a href="">注册</a></li>
					<li class="ml20"><a href="">登陆</a></li>
					<li class="ml20"><small>|</small><a class="pd21" href="">qq登陆</a></li>
					<li class="ml20"><a href="">微信登陆</a></li>
					<li class="ml20"><a href="">微博登陆</a></li>
					<li class="ml20"><small>|</small><a class="pd21" href="">手机蘑菇街</a></li>
					<li class="ml20"><small>|</small><a class="pd21" href="">帮助中心</a></li>
				</ul>
				<div class="navCenter fl">
					<a href="" class="fl"><img src="__PUBLIC__/image/kuw9n_ieydozrthbrgmnddmiytambqgiyde_221x53.png" alt="logo" title="蘑菇街"></a>
					<div class="search fl">
						<div class="msg fl">
							<span>搜商品</span>
							<ol>
								<li><a href="" style="color:#333333">商品</a></li>
								<li><a href="">店铺</a></li>
							</ol>
						</div>
						<form action="" class="fl">
							<input type="text" name="search" class="text fl"/>
							<input type="submit" value="" class="sub fl"/>
						</form>
					</div>
					<div class="navRight fr">
						<a class="car fl">
							<span class="fl">购物车(<font color="red">0</font>)件</span>
							<div>购物车里没有商品！</div>
						</a>
						<div class="geren fl"><a href="">我的订单</a></div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="nav">
			<div class="w">
				<ul>
					<li><a href="" class="">首页</a></li>
					<li><a href="">买买买</a></li>
					<li><a href="">美妆</a></li>
					<li><a href="">团购</a></li>
					<li><a href="">理财</a></li>
					<li></li>
				</ul>
			</div>
		</div>
		<div id="connect">
			<div class="w">
				<div class="menu fl">
					<ul>
						<li class="bddo">
							<dl>
								<dt><a href="">衣服</a></dt>
								<dd><a href="" class="color2">初夏新款</a><a href="" class="ml20 color1">初夏美裙</a><a href="" class="ml20 color2">衬衫</a><br><a href="" class="color2">短袖T恤</a><a href="" class="ml20 color2">轻薄外套</a><a href="" class="ml20 color2">韩版短袖</a></dd>
							</dl>
						</li>
						<li class="bddo">
							<dl>
								<dt><a href="">鞋子</a></dt>
								<dd><a href="" class="color1">凉鞋</a><a href="" class="ml20 color2">单鞋</a><a href="" class="ml20 color2">运动</a><a href="" class="ml20 color2">凉拖鞋</a></dd>
							</dl>
						</li>
						<li class="bddo">
							<dl>
								<dt><a href="">鞋子</a></dt>
								<dd><a href="" class="color1">凉鞋</a><a href="" class="ml20 color2">单鞋</a><a href="" class="ml20 color2">运动</a><a href="" class="ml20 color2">凉拖鞋</a></dd>
							</dl>
						</li>
						<li class="bddo">
							<dl>
								<dt><a href="">鞋子</a></dt>
								<dd><a href="" class="color1">凉鞋</a><a href="" class="ml20 color2">单鞋</a><a href="" class="ml20 color2">运动</a><a href="" class="ml20 color2">凉拖鞋</a></dd>
							</dl>
						</li>
						<li class="bddo">
							<dl>
								<dt><a href="">鞋子</a></dt>
								<dd><a href="" class="color1">凉鞋</a><a href="" class="ml20 color2">单鞋</a><a href="" class="ml20 color2">运动</a><a href="" class="ml20 color2">凉拖鞋</a></dd>
							</dl>
						</li>
						<li class="bddo">
							<dl>
								<dt><a href="">鞋子</a></dt>
								<dd><a href="" class="color1">凉鞋</a><a href="" class="ml20 color2">单鞋</a><a href="" class="ml20 color2">运动</a><a href="" class="ml20 color2">凉拖鞋</a></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><a href="">鞋子</a></dt>
								<dd><a href="" class="color1">凉鞋</a><a href="" class="ml20 color2">单鞋</a><a href="" class="ml20 color2">运动</a><a href="" class="ml20 color2">凉拖鞋</a></dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="banner fl">
					<a href=""><img src="__PUBLIC__/image/11c053_iezdamrqgeytinrwgezdambqmmyde_785x500.jpg"></a>
				</div>
				<div class="left fl">
					<a href="" class="fl"><img src="__PUBLIC__/image/abftk_ieytcyzshbtgmnjwgezdambqmeyde_174x249.jpg"></a>
					<a href="" class="fl"><img src="__PUBLIC__/image/abftk_ie2tsyrqgztgmnjwgezdambqhayde_174x249.jpg"></a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="main">
			<div class="navCenter">
				<div class="w">
					<a href="" class="fl"><img src="__PUBLIC__/image/u3zuc_ieztenlcg4ztcnzwgezdambqgyyde_300x200.png"></a>
					<a href="" class="fl"><img src="__PUBLIC__/image/1gf1o7_ie2wcmzxmrstqnjwgezdambqhayde_300x200.png"></a>
					<a href="" class="fl"><img src="__PUBLIC__/image/1kfkmh_ie2gmmtgga4tenzwgezdambqgiyde_300x200.png"></a>
					<a href="" class="fl"><img src="__PUBLIC__/image/11c053_ie2tqzjwgjqtcnrwgezdambqhayde_300x200.png"></a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="w">
				<span class="title">
					<h3 class="fl">买手推荐的衣服</h3>
					<a href="" class="fl">夏季新品</a>
					<a href="" class="fl">夏季新品</a>
					<a href="" class="fl">夏季新品</a>
					<a href="" class="fl">夏季新品</a>
					<a href="" class="fl">夏季新品</a>
					<div class="clear"></div>
				</span>
				<ul>
					<li class="fl">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<div class="clear"></div>
				</ul>
				<span class="title">
					<h3 class="fl">买手推荐的衣服</h3>
					<a href="" class="fl">夏季新品</a>
					<a href="" class="fl">夏季新品</a>
					<a href="" class="fl">夏季新品</a>
					<a href="" class="fl">夏季新品</a>
					<a href="" class="fl">夏季新品</a>
					<div class="clear"></div>
				</span>
				<ul>
					<li class="fl">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
					<li class="fl ml25">
						<a href=""><img src="__PUBLIC__/image/1ieg2b_ie2dqnjvmmywmzjqgazdambqgiyde_1000x1500.jpg"></a>
						<p><a>jcoolstory 羽毛宽松纯棉T恤</a></p>
						<p>
							<span class="price">￥49</span>
							<span class="number">1731</span>
						</p>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="navCenter">
				<div class="w">
					<a href="" class="fl"><img src="__PUBLIC__/image/u3zuc_ieztenlcg4ztcnzwgezdambqgyyde_300x200.png"></a>
					<a href="" class="fl"><img src="__PUBLIC__/image/1gf1o7_ie2wcmzxmrstqnjwgezdambqhayde_300x200.png"></a>
					<a href="" class="fl"><img src="__PUBLIC__/image/1kfkmh_ie2gmmtgga4tenzwgezdambqgiyde_300x200.png"></a>
					<a href="" class="fl"><img src="__PUBLIC__/image/11c053_ie2tqzjwgjqtcnrwgezdambqhayde_300x200.png"></a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			
		</div>
	</body>
</html>
